/addons/game_swift/debug
/addons/game_swift/release
/addons/godotopenxrvendors/khronos/.bin
/addons/godotopenxrvendors/lynx/.bin
/addons/godotopenxrvendors/meta/.bin
/addons/godotopenxrvendors/pico/.bin
/bin/**
